@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
    margin: 0;
    font-family: 'Josefin Sans', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(cyan 0%, violet 100%);
    color: white;
    height: 900px;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
}

.em {
    padding-left: 5px;
    padding-right: 7px;
    font-style: italic;
    font-weight: 300;
}

#home {
    width: 40px;
    height: 40px;
}

.brand {
    display: flex;
    font-size: 120px;
    margin-bottom: 0;
}

.slogan {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: chocolate;
    padding-top: 50px;
}

.new-user {
    padding-top: 10px;
}