@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
    margin: 0;
    font-family: 'Josefin Sans', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://images.unsplash.com/photo-1553322378-eb94e5966b0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100%;
    background-repeat: no-repeat;
}


main {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(4px); */
}

.pet-card { 
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(2px);
    text-align: center;    
    color: white;
    width: 350px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    border-radius: 5px;
    z-index: 20;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.attributes {
    color: black;
    padding-inline-start: 0px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.pet-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.Socks {
    object-position: 10% 10px;
}

.Fluffy {
    object-position: 80% 10px;
}

.Rover {
    object-position: 45% 5%;
}