@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
    margin: 0;
    font-family: 'Josefin Sans', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://media2.s-nbcnews.com/i/newscms/2016_43/1169669/girl-dog-1-today-101626-tease_e3ef43e4afd3d5bd4b4379a64dadff3f.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.brand {
    display: flex;
    font-size: 120px;
    margin-bottom: 0;
    margin-top: 30px;
    text-shadow: 4px 4px black;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: chocolate;
}

.em {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-weight: 300;
}

.history-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-header-items {
    color: chocolate;
    text-shadow: 2px 2px black;
}

#header .slogan {
    display: flex;
    text-shadow: 2px 2px black;
    position: relative;
    left: 155px;
    font-weight: 700;
    font-size: x-large;
    margin-top: 8px;
}

main {
    display: flex;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    align-items: center;
}

.pet-card { 
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(12px);
    text-align: center;    
    color: white;
    width: 350px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    border-radius: 5px;
    z-index: 20;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.pet-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}

.Socks {
    object-position: 10% 0px;
}

.Fluffy {
    object-position: 80% 0px;
}

.Rover {
    object-position: 45% 5%;
}

footer {
    align-self: center;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(1px);
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    border-radius: 5px;
}

a:visited {
    color: chocolate;
}

footer .footer-items, .rental-link {
    font-size: 22px;
    border-radius: 25px;
    font-family: 'Josefin Sans', 'sans-serif';
    height: 22px;
    color: chocolate;
    text-shadow: 1px 1px black;
    font-weight: 800;
}